<style>
    div.fondo{
        background-color: rgb(18, 119, 119);
        display: grid;
        border-radius: 10px;
        border: 2px solid;
        opacity: 90%;
    }

</style>

<div class="max-w-screen-xl mx-auto fondo p-4 mt-10 grid grid-cols-1 lg:grid-cols-4 gap-6 items-center">
    <!-- Sinopsis -->
    <div class="lg:col-span-3 flex flex-col items-center gap-10">
        <h3 class="font-bold text-lg">SINOPSIS</h3>
        <p>
            Cloud Strife, un ex-SOLDADO mercenario, se une al grupo ecoterrorista 
            AVALANCHA para luchar contra la megacorporación Shinra, que está drenando la fuerza vital del planeta para generar energía Mako, en la megalópolis de Midgar. La historia evoluciona al enfrentarse a Shinra 
            y a Sephiroth, un antiguo y poderoso SOLDADO que busca destruir el planeta, mientras Cloud y sus aliados, incluyendo a Tifa, Barret y Aerith, descubren la verdad sobre el pasado de Cloud y el destino del planeta.
        </p>
    </div>

    <!-- Imagen y plataformas -->
    <div class="lg:col-span-1 flex flex-col items-center">
        <img src="/public/portada FF7.png" alt="logo" class="rounded-md mb-3 h-30 w-65">
        <h2 class="text-center font-semibold mb-2">Plataformas</h2>
        <div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
            <div>PS1</div>
            <div>PS3</div>
            <div>PS4</div>
            <div>PS5</div>
            <div>NSW</div>
            <div>PSP</div>
            <div>iOS</div>
            <div>PC</div>
            <div>Android</div>
            <div class="sm:col-start-2 ">XboxOne</div>
        </div>
    </div>
</div>

<div class="max-w-screen-xl mx-auto fondo mt-10 pt-3">

</div>


