---
import BG_FF7 from '../public/BG_FF7.jpg';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <meta name="generator" content={Astro.generator}/>
        <meta name="description" content="Guia de Final Fantasy VII (Steam)">
        <title>Guia Final Fantasy VII</title>

    </head>
    <body>
        
    </body>
</html>

<style>
    html,
    body{
        margin: 0;
        width: 100%;
        height: 100%;
        background-image: url('/BG_FF7.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

